@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
  background: #fffafa;
  font-family: "Roboto", sans-serif;
  --color-background: #fffafa;
  --color-primary: #ee5555;
  --color-secondary: #eaeaea;
  --color-accent: #ffadad;
  --color-text: #dd2525;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}